<div class="container-fluid">
<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h1>juan francisco pardini</h1>
      <h2>web developer, coffee roaster & man on two wheels</h2>
    </div>
  </div>

  <div class="row">
      <div class="col-lg-4">
        <img src="https://prime.500px.com/static/images/logo.png" style="width:100%;">
      </div>
      <div class="col-lg-4">
        <img src="https://prime.500px.com/static/images/logo.png" style="width:100%;">
      </div>
      <div class="col-lg-4">
        <img src="https://prime.500px.com/static/images/logo.png" style="width:100%;">
      </div>
  </div>
</div>
</div>
