// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body, html {
  font-family:'Lato', sans-serif !important;
  font-weight:300;
  -webkit-font-smoothing: antialiased;
  padding-top:2em;
}

.navbar-fixed-top {
  background: transparent !important;
  border-color: transparent !important;
}

#biography {

}

#code {
  p {
    margin-top:2em;
    font-size: 3em;
    font-weight: 200;
  }
}

#coffee {
  p {
    font-weight: 200;
    font-size: 3em;
  }
}

#intro {
  margin-top:2em;
  p {
    font-weight: 200;
    font-size: 3em;
  }
}

#dark {
  background-color:#3d3d3d;
}

#cycling {
  p {
    font-weight: 200;
    font-size: 3em;
  }
}

.jumbotron {
  padding-top:0px !important;
}

.container-fluid {
  background-color:#fff;
}


.numberCircle {
    border-radius: 50%;
    width: 75px;
    height: 75px;
    padding: 15px;
    margin-top:1em;
    background: #33c3f0;
    border: 2px solid #33c3f0;
    color: #fff;
    text-align: center;
    
    font: 32px Arial, sans-serif;
}

#map {
  width:100%;
  height:300px;
}

@media(max-width:1200px){
  #not-responsive {
    display:none;
  }

  #biography {
    width:100%;
    padding:3em; 
    h1 {
      font-size:5em;
    }
    p {
      font-size:2.2em;
      text-align:justify;
      margin-right:1em;
    }
    a {
      font-size: 2em;
    }
    .col-lg-4 {
      float:left;
    }
  }
}